<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Surname</th>
    </tr>
  </thead>
  <tbody>
  <% @authors.each do |author| %>
    <tr>
      <th scope="row"><%= @authors.count%></th>
      <td><%= author.name %></td>
      <td><%= author.sur_name %></td>
    </tr>
    <% end %>

  </tbody>

</table>